*{
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif; /* Set a default font for a cleaner look */
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  color: blue;
  margin-bottom: 20px;

}

.qrimage{
  padding: 5px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  margin-bottom: 20px;

}

.input-label{
  display: block;
  margin-bottom: 8px;
  color:blue ;
}

input[type="text"]{
  padding: 12px;
  margin-bottom: 20px;
  width: 100%;
  border:2px solid blueviolet; 
  border-radius: 10px
}

.Generate-button{
  background-color: blue;
  color: white;
}

.Generate-button:disabled{
  background-color:violet;
  cursor: not-allowed;
  color: white;
}


.download-button{
  background-color: green;
  margin-left: 10px;
  color: white;

}
.Footer {
  color: blue;
  margin-top: 30px;
  font-size: 14px; /* Slightly smaller font for footer */
}
